{% extends "layout.html" %}

{% block body %}
{% if current_user.is_authenticated %}
<H5>Kotitalouden pistekuningas: </H5>
{% if topdog is defined %}
<ul>
  {% for top in topdog %}
  <li>
    <p><b>Käyttäjä: </b> {{ top.name }} </p>
    <p><b>ID:</b> {{ top.id }}</p>
    <p><b>Pisteet:</b>{{top.sum}} </p>
  </li>
  {% endfor %}
  {% endif %}
{% endif %}
<H3>Esimerkkejä kotitöiden pisteytyksestä ja aikaväleistä</H3>
<li>
    <ul><b>Tiskaus: </b> 2 pistettä 3 päivän välein </ul>
    <ul><b>Lemmikkien ulkoiluttaminen: </b> 1 piste 1 päivän välein</ul>
    <ul><b>Pölyjen pyyhkiminen:</b> 1 piste 20 päivän välein</ul>
    <ul><b>Imurointi: </b> 2 pistettä 14 päivän välein</ul>
    <ul><b>Mattojen tamppaus:</b> 2 pistettä 30 päivän välein</ul>
    <ul><b>Pyykkien peseminen:</b> 2 pistettä 5 päivän välein</ul>
</li>
<p>
    Käyttäjät voivat vapaasti päättää, miten osaksi tehdyt kotityöt pisteytetään.
    Esimerkiksi tiskauksesta voi saada yhden pisteen tiskauksesta ja yhden pisteen tiskien huuhtelusta/kuivaamisesta.
</p>
<p>Olkaa luovia ihmiset!</p>

{% endblock %}