{% extends "layout.html" %}

{% block body %}
  <H3>Saatavilla olevat kotityöt</H3>
  <table>
    <tr>
      <th></th>
      <th>Kotityö</th>
      <th>Tyyppi</th>
      <th>Pisteet</th>
    </tr>
    {% for c in avchores %}
    <tr>
      <td>{{ c.id }}</td>
      <td>{{ c.choretype }}</td>
      <td>{{ c.points }} / {{ c.maxpoints }}</td>
      <td>
	       <form method="POST" action="{{ url_for('do_chore', chore_id=c.id, fully=0) }}">
	         <input type="submit" value="Tee osittain"/>
	       </form>
      </td>
      <td>
         <form method="POST" action="{{ url_for('do_chore', chore_id=c.id, fully=1) }}">
           <input type="submit" value="Tee kokonaan"/>
         </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('show_chore', chore_id=c.id) }}">
          <input type="submit" value="Näytä kotityö"/>
        </form>
     </td>
     <td> {{ c.message }}</td>     
    </tr>
    {% endfor %}
  </table>
  <a href="{{ url_for('secret_backdoor') }}"> Salaisuus vain Sepolle...</a>
{% endblock %}